%btn {
  font-weight: 400;
  background-color: transparent;
  border-radius: 9px
}

.header-btn {
  @extend %btn;

  text-transform: uppercase;
  margin-top: 25px;
  padding: 10px 27px;
  font-size: $small-font-size;
  color: #010201;
  border: 2px solid #E06733;

  &:hover {
    color: #fff;
    background-color: #E06733;
    transition: all .3s;
  }
  
}