.about {
  padding-top: 82.6px;
  padding-bottom: 91px;
  
  .about-bg {
    background-image: url("../assets/img/houseplant-1.png"); //sciezka jest wzgledem katalogu css/
    background-repeat: no-repeat;
    background-position: right;
  }

  .about-description {
    max-width: 594px;
    padding: 50px 0 50px;
  
    .section-heading {
      font-weight: $primary-font-weight;
      color: #499A18;
    }
    
    .primary-paragraph {
      @include primary-text(30px); //($line-height)
    }
  }



}