.nav {

  @include flexbox;
  @include flex-align(space-between, center);

  padding: 44px 0;

  .logo {
    height: 20px;
    align-self: flex-start;
    margin: 5px 15px;

    img {
      height: 100%;
    }
  }

  .menu {
    .menu-item {
      display: inline-block;
      margin: 0 20px;
      padding: 20px 0;
      font-size: initial;
      line-height: 1.5;

      a {
          font-weight: 700;
      }
    }

  }

}