.price {
  font-weight: $secondary-font-weight;
  padding: 40px 104px 121px;

  //redefiniuje wlasciwosci kontenera pod wymogi tej sekcji
  .container {
    @include flexbox($flex-wrap: nowrap);
    @include flex-align(space-between, stretch)
  }

  .prices {

    .price-list {

      border: 1px solid #e3e1d5;
      border-radius: 20px;
      padding: 40px;
      margin-top: 64px;

      .price-list-item {
        width: 250px;
        padding: 16px 40px;
        background-color: #edf2ec;
        border-radius: 20px;
        margin-bottom: 15px;
      }

      .price-list-item:last-child {
        margin-bottom: 0;
      }

      .accordion-header {
        @include flexbox;
        @include flex-align(space-between, center);
        
        cursor: pointer;
        

        &.open {
          .prices-dropdown-icon {
            transform: rotate(180deg);
          }
        }

          span {
            font-size: $regular-font-size;
          }
          
          .prices-dropdown-icon {
            background-color: #d9d9d9;
            position: relative;
          }

      }

      .accordion-body {
        display: none;

        p {
          color: $main-text-color;
          font-weight: 400;
          margin: 0;
          font-size: 1rem;
          margin-top: 10px;
        }

        .price-holder {
          margin: 10px 0;

          span {
            color: #E06733;
            font-size: 1.2rem;
            font-weight: 700;
          }
        }
      }

      .accordion-body.visible {
        margin-top: 10px;
        border-top: 1px solid $main-text-color;
        display: block;
      }

    }
  }

  .prices-help {
    text-align: right;
    flex-basis: 500px;

    background-image: url(../assets/img/leafs-small.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .prices-heading {
    font-family: $primary-font-family;
    margin-top: 0;//todo: wyniesc to do styli globalnych
  }

  .prices-help-heading {
    flex-basis: 400px;
    font-size: $large-font-size;
    margin-top: 0;
  }


}

@media all and (max-width: 1439px) {
  .price {
    padding: 40px 46px 92px;
    
    .prices-help {
      padding-top: 106px;
      height: 455px;

      .prices-help-heading {
        font-size: 25px;
      }

    }
  }
}